body {
  background: black;
  color: white;
  padding: 20px;
  font-family: monospace;
  font-size: 20px;
}

header h1 {
  text-align: center;
}

nav {
  display: block;
  margin-bottom: 4rem;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: lime;
}

a:hover {
  text-decoration: underline;
}

main div {
  text-align: center;
  margin-bottom: 5rem;
}

main div img {
  margin: 0 auto;
  border-radius: 50%;
}

main div p {
  font-size: 24px;
}

main div p, section {
  width: 75%;
  max-width: 780px;
  margin: 3rem auto;
}

section li {
  margin: 1.5rem 0;
}

section li h3, b {
  color: lime;
}

section li h3, section li h4, section li h5 {
  margin: 0;
}

section li p {
  font-size: 18px;
}

address a {
  display: block;
}

address a::before {
  color: white;
  margin-right: 1rem;
  font-style: normal;
}

a.email::before {
  content: "\2709"
}

a.phone::before {
  content: "\260E"
}

footer {
  text-align: center;
}
